127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
::1 localhost localhost.localdomain localhost6 localhost6.localdomain6
0.0.0.0 {{ ansible_host }}

{% for node in groups['peers'] %}
{{ hostvars[node]['ansible_host'] }} {{ 'peer' + hostvars[node]['peer_index'] + '.organisation' + hostvars[node]['organisation_index'] + '.luxoft.com' }}
{% endfor %}

{% for node in groups['orderers'] %}
{{ hostvars[node]['ansible_host'] }} {{ hostvars[node]['inventory_hostname'] + '.luxoft.com' }}
{% endfor %}

{% for node in groups['cas'] %}
{{ hostvars[node]['ansible_host'] }} {{ hostvars[node]['inventory_hostname'] + '.luxoft.com' }}
{% endfor %}