batch:
  class: batch
  sourceSystem: TPA
  serverAddress: http://{{ hostvars[groups['peers'][0]]['ansible_host'] }}:8075
  sourceFile: data/rest-data-tpa.xlsx
# numThreads: 4

online0:
  class: online
  sourceSystem: TPA
  serverAddress: http://{{ hostvars[groups['peers'][0]]['ansible_host'] }}:8075
  sourceFile: data/rest-data-tpa.xlsx
  collisionPercent: 0
  sleepTime: 1000
