duration: PT1M

online0:
  class: online
  sourceSystem: PBM
  serverAddress: http://localhost:8075
  sourceFile: data/rest-data-pbm.xlsx
  collisionPercent: 0
  sleepTime: 100

online1:
  class: online
  sourceSystem: PBM/1
  serverAddress: http://localhost:8075
  sourceFile: data/rest-data-pbm.xlsx
  collisionPercent: 0
  sleepTime: 100

